<ion-app>
  <ion-menu side="start">
    <!-- <ion-header>
      <ion-toolbar  color="primary">
        <ion-title>
          TWN BOC
        </ion-title>
      </ion-toolbar>
    </ion-header> -->

    <ion-content>
      <ion-img src="assets/logo.png"></ion-img>
      <ion-card>
      </ion-card>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon color="primary" name="business" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <!-- <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon color="primary" name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle> -->
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon  color="primary" name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
